name: generate synced google package repository
on:
  schedule:
    - cron: '0 0 * * 0' # Weekly: Sunday 00:00 UTC
  workflow_dispatch:
    inputs:
      create:
        description: 'Create repositories for all packages found in the archive'
        required: false
        default: true
        type: boolean
env:
  ARCHIVE: https://developers.google.com/unity/archive
concurrency: ${{ github.workflow }}
jobs:
  generate-synced-repository:
    runs-on: ubuntu-slim
    if: ${{ github.event_name == 'schedule' || github.event.inputs.create == 'true' }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: generate synced google package repository
        run: ./.github/workflows/scripts/generate-synced-google-package-repository.sh
        env:
          GH_TOKEN: ${{ secrets.CI_TOKEN }}
  delete-synced-repository:
    runs-on: ubuntu-slim
    if: ${{ github.event.inputs.create == 'false' }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: delete repositories found in the archive
        run: ./.github/workflows/scripts/delete-synced-google-package-repositories.sh
        env:
          GH_TOKEN: ${{ secrets.CI_TOKEN }}